.logo{
    height: 40px;
   
}

.center{
    margin-right: 35%;
    margin-left: 15px;
}



.btn-danger{
    background: transparent;
  
   
}
i{
    margin-right: 5px;
   
}
.dropdown-toggle{
    margin-left: 15px;
}

.register{
   margin-top: 56px;
    width: 100%;
    height: 220px;
    border: 2px double red;

   
}
.check{
    height: 400px;
    width: 100%;
    border: 1px solid black;
    padding: 1%;
}
.d-block{
    width: 100%;
    height: 500px;
    /* margin-left: 30%; */
    /* margin-top: -200px; */
}
.check1{
    width: 100%;
    height: 350px;
    border: 2px solid green;
}
.scooty{
    display: flex;
}
.black{
    height: 320px;
    width: 500px;
    border: 2px solid black;
    margin-left: 10px;
    padding: none;
}
.into{
    margin-top: 800px;
    height: 300px;
    width: 100%;
    border: 1px blue dotted;
}
.suv{
    width: 100%;
    height: 200px;
    padding: none;

}
.name{
    padding: 2%;
   
}
.name > button{
    width: 100%;
    margin-top: -10px;
    font-size: 17px;
    /* text-align: center; */
    height: 35px;
}
p{
    color: black;
}




@media screen and (max-width:400px){
    .d-block{
        width: 100%;
        height: 220px;
        margin-left: 0%;
    } 
    .scooty{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .black{
        height: 100px;
        width: 100px;
        border: 2px solid black;
        /* margin-left: 5%; */
        padding: 1%;
        box-shadow: 1px 1px 1px 1px gray;
    }
    .suv{
        height: 50px;
        /* width: 100%; */
    }
    .name > h6{
        font-size:5px;
    }
       
       
  
    p{
        font-size: 5px;

    }
    .name > button{
        width: 100%;
        margin-top: -40px;
        font-size: 5px;
       text-align: center;
        height: 15px;
    }

}
